<div class="formularSeite">

    <div class="formularContainer">
        <div class="formularKarte">
            <h2>Neues Lebensmittel hinzufügen</h2>
            <p class="untertitel">
                Füge ein neues Lebensmittel zur allgemeinen Lebensmittelliste hinzu.
            </p>

            <form (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="z. B. Avocado"
                        [(ngModel)]="lebensmittel.name">
                </div>

                <div class="mb-3">
                    <label for="kategorie" class="form-label">Kategorie</label>
                    <select id="kategorie" name="kategorie" class="form-select" [(ngModel)]="lebensmittel.kategorie">
                        <option>Obst</option>
                        <option>Gemüse</option>
                        <option>Getreide</option>
                        <option>Fleisch</option>
                        <option>Fisch</option>
                        <option>Milchprodukte</option>
                        <option>andere Kategorie</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="altersempfehlung" class="form-label">
                        Altersempfehlung
                    </label>
                    <input type="text" id="altersempfehlung" name="altersempfehlung" class="form-control"
                        placeholder="z. B. ab 6 Monate" [(ngModel)]="lebensmittel.altersempfehlung">
                </div>

                <div class="mb-3">
                    <label for="allergen" class="form-label">Allergen</label>
                    <select id="allergen" name="allergen" class="form-select" [(ngModel)]="lebensmittel.allergen">
                        <option>keines</option>
                        <option>Milch</option>
                        <option>Ei</option>
                        <option>Nüsse</option>
                        <option>Fisch</option>
                        <option>Gluten</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="beschreibung" class="form-label">
                        Beschreibung
                    </label>
                    <textarea id="beschreibung" name="beschreibung" class="form-control" rows="4" maxlength="1500"
                        placeholder="Beschreibung des Lebensmittel" [(ngModel)]="lebensmittel.beschreibung">
                    </textarea>
                    <small>
                        {{ lebensmittel.beschreibung?.length }}/1500 Zeichen
                    </small>
                </div>

                <div class="mb-3">
                    <label for="bild" class="form-label"></label>
                    <input type="file" id="bild" name="bild" accept="image/*" (change)="onBildAusgewaehlt($event)">
                </div>
                @if (fehlermeldung) {
                <p class="text-danger">{{ fehlermeldung }}</p>
                }
                <button type="submit" class="btn formularButton">
                    Lebensmittel hinzufügen
                </button>

            </form>
            @if (modalAnzeigen) {
            <div class="modal">
                <div class="modalInhalt">
                    @if (modalTyp === 'LebensmittelExistiert') {
                    <h3>{{lebensmittel.name}} existiert bereits</h3>
                    <p> Möchtest du es ansehen?</p>
                    <button type="button" (click)="vorhandenesLebensmittelAnsehen()"> Ansehen </button>
                    <button type="button" (click)="modalAnzeigen = false"> Schließen </button>

                    } @else {
                    <h3>Lebensmittel erfolgreich hinzugefügt</h3>
                    <p> Was möchtest du tun? </p>
                    <button type="button" (click)="weiteresLebensmittelHinzufuegen()"> Weiteres Lebensmittel
                        hinzufügen</button>
                    <button type="button" (click)="zurLebensmittelliste()"> Zur Liste </button>
                    }

                </div>
            </div>
            }

        </div>
    </div>
</div>