<section class="breiRezepte">

    <div class="breiRezepteContainer">

        <div class="breiRezepteKopfzeile">
            <h2 class="breiRezeptTitel">Brei-Rezepte</h2>
            <p class="breirezeptUntertitel"> Hier entdecken Sie liebevoll zusammengestellte Rezepte für Ihr Baby, die
                sich wunderbar für die
                Beikostzeit eignen. Die Rezepte wurden so konzipiert, dass verschiedene Lebensmittel miteinander
                kombiniert werden und dadurch eine abwechslungsreiche Ernährung ermöglicht wird. Dabei stehen natürliche
                Zutaten und eine ausgewogene Auswahl verschiedener Lebensmittel im Mittelpunkt.
            </p>
        </div>
        <div class="breiRezepteListe">

            @for (breiRezept of breiRezepte; track breiRezept._id) {

            <div class="breiRezeptKarte">
                <h3>{{ breiRezept.name }}</h3>
                <p class="alter">{{ breiRezept.altersempfehlung }} </p>

                @for (zutat of breiRezept.zutaten; track zutat.lebensmittel._id) {
                <div class="zutat">
                    <img class="lebensmittelBild"
                        [src]="zutat.lebensmittel.bild.startsWith('uploads/') ? 'http://localhost:3000/' + zutat.lebensmittel.bild : zutat.lebensmittel.bild"
                        [alt]="zutat.lebensmittel.name" width="30px">
                    <p>{{ zutat.menge }} {{ zutat.einheit }} {{ zutat.lebensmittel.name }}</p>
                </div>
                }
                <div class="zubereitung">
                    <h1> Zubereitung</h1>
                    <p> {{breiRezept.beschreibung}} </p>
                </div>
            </div>

            }
        </div>
    </div>

</section>