/* navabr container*/ 
.navbar {
    height: 60px;
    margin:0px;
    background-color: rgba(248, 243, 239, 0.5);
}
/* logo -- wenn Zeit canva- logo wechseln  */
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

/* navigation links */
.nav-link{
    color:#503e34;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* links beim drüberscrollen */ 
.nav-link:hover{
    color: #402D23;
    font-weight: 600;

}

.navbar-nav {
  gap: 20px;
}

/*  Responsive */

/* hamburger menü knopf  */ 
.navbar-toggler{
    font-size: large;
    border: none;
    height: 50px ;
}

@media (max-width: 1000px) {

    .navbar {
        background-color: transparent;
    }

}
