.lebensmittelKopfzeile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.lebensmittelKopfzeile h2 {
    color: #4d3b36;
    margin: 0;
}

.lebensmittelKopfzeile a {
    background-color: #6b8e5e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.lebensmittelKopfzeile a:hover {
    background-color: #55754a;
}

.lebensmittelliste {
    min-height: 100vh;
    background-color: #f8f3ef;
    padding: 60px 20px;
}

.lebensmittelContainer {
    width: 90%;
    width: 1200px;
    margin: auto;
}

.lebensmittelliste h2 {
    text-align: center;
    color: #4d3b36;
    margin-bottom: 40px;
}

.lebensmittelListe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.lebensmittelKarte {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
}

.lebensmittelBild {
    width: 100%;
    height: auto;
    display: block;
}

.lebensmittelKarte h3 {
    padding: 15px;
    margin: 0;
    color: #4d3b36;
}

.lebensmittelInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px 15px;
}

.lebensmittelInfo p {
    margin: 0;
}

.lebensmittelInfo a {
    color: #6b8e5e;
    text-decoration: none;
}

/* Responsive */


@media (max-width: 900px) {
    .lebensmittelContainer {
        width: 85%;
    }

    .lebensmittelListe {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .lebensmittelContainer {
        width: 80%;
    }

    .lebensmittelListe {
        grid-template-columns: 1fr;
    }
}



