<section class="lebensmittelansicht">
    <div class="lebensmittelContainer">
        <a routerLink="/lebensmittelliste" class="zurueckButton">
            ← Zurück zur Lebensmittelliste
        </a>
        @if (lebensmittel) {
        <div class="lebensmittelDetails">
            <div class="bildBereich">
                <img class="lebensmittelBild"
                    [src]="lebensmittel.bild.startsWith('uploads/') ? 'http://localhost:3000/' + lebensmittel.bild : lebensmittel.bild"
                    [alt]="lebensmittel.name">
            </div>
            <div class="infoBereich">
                <div class="infoBox">
                    <p class="infoTitel">Altersempfehlung</p>
                    <p class="infoTitel">{{lebensmittel.altersempfehlung}}</p>
                </div>
                <div class="infoBox">
                    <p class="infoTitel">Beschreibung</p>
                </div>
                <p class="beschreibung">{{lebensmittel.beschreibung}} </p>
                <div class="infoBox">
                    <p class="infoTitel">Allergen</p>
                    <p>{{lebensmittel.allergen}}</p>
                </div>
            </div>
        </div>
        <div class="aktionen">
            <button class="bearbeitenButton " type="button">
                Lebensmittel bearbeiten
            </button>

            <button class="loeschenButton" type="button" (click)="modalOeffnen()">
                Lebensmittel löschen
            </button>
        </div>
        @if (modalAnzeigen) {
        <div class="modal">
            <div class="modalInhalt">
                <h3> Möchtest du "{{lebensmittel.name}}" wirklich löschen?</h3>
                <button type="button" (click)="lebensmittelLoeschen()"> {{lebensmittel.name}} löschen </button>
                <button type="button" (click)="modalAnzeigen = false"> Schließen </button>
            </div>
        </div>
        }
        }
    </div>
</section>