.lebensmittelansicht {
    min-height: 100vh;
    background-color: #f8f3ef;
    padding: 40px 20px;
}

.lebensmittelContainer {
    width: 95%;
    max-width: 1400px;
    margin: auto;
}

.zurueckButton {
    color: #6b8e5e;
    text-decoration: none;
    font-size: 16px;
}

.zurueckButton:hover {
    text-decoration: underline;
}

.lebensmittelDetails {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.bildBereich {
    flex: 1;
}

.bildBereich img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.infoBereich {
    flex: 1;
}
.infoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 20px 25px;
    margin-bottom: 15px;
}

.infoBox p {
    margin: 0;
    color: #4d3b36;
}

.infoTitel {
    font-weight: bold;
}

.beschreibung{
    padding:10px 10px ;

}

/* Responsive */

@media (max-width: 900px) {
    .lebensmittelDetails {
        flex-direction: column;
        gap: 30px;
    }

    .bildBereich {
        width: 100%;
    }

    .infoBereich {
        width: 100%;
    }
}
